.plantilla{
    font-family: Arial;
	  color: rgb(80, 80, 80);
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 0x solid #b4b4b4;
    font-family: "Lucida Console";
    background-color:rgba(255, 255,255, 0.8);
    letter-spacing: 0px;
    word-spacing: 0.08em;
    line-height: 18px;
    text-align: center;
    border-width: 16px;
    border-style: double;
    border-radius: 50px 20px;
}
.plantilla h1 {
     color: black;
}
.plantilla a {
   color: white;
	 padding: 10px;
	 background-color:rgba(100, 100,255, 0.9);

}
.plantilla header {
padding-top: 5px;
background-color:rgba(255,255,255, 0.1);
margin-top:5px;
margin-bottom:5px;
text-align: center;
}

.plantilla footer {
margin-left: 5px;
margin-right: 5px;
margin-top:5px;
margin-bottom:5px;
text-align: center;
color: rgb(200, 200, 200);
}



.plantilla article {
    margin-left: 10px;
    padding: 1em;
    overflow: hidden;
	  background-color:rgba(255, 255,255, 0.9);
    text-align: center;
}



  
  
  